<!--start content-->
<div class="container-md">
  <div class="card">
    <div class="card-body">
      <h4>Bills page</h4>
      <!--start content-->
      <div class="container-md py-5">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef><strong>No</strong></th>
            <td mat-cell *matCellDef="let row; let i=index"> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="umkmName">
            <th mat-header-cell *matHeaderCellDef><strong>UMKM Name</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.umkmName}} </td>
          </ng-container>

          <ng-container matColumnDef="debtorName">
            <th mat-header-cell *matHeaderCellDef><strong>Debtor Name</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.debtorName}} </td>
          </ng-container>

          <ng-container matColumnDef="debt">
            <th mat-header-cell *matHeaderCellDef><strong>Debt</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.debt | rupiah}} </td>
          </ng-container>

          <ng-container matColumnDef="interest">
            <th mat-header-cell *matHeaderCellDef><strong>Interest</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.interest}} </td>
          </ng-container>

          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef><strong>Due Date</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.dueDate}} </td>
          </ng-container>

          <ng-container matColumnDef="isPaid">
            <th mat-header-cell *matHeaderCellDef><strong>Paid</strong></th>
            <td mat-cell *matCellDef="let row"
                [ngClass]="{'green-bg': row.isPaid, 'red-bg': !row.isPaid}">
              {{ row.isPaid ? 'Paid' : 'Unpaid' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!--end content-->
    </div>
  </div>
</div>
<!--end content-->
