<!--start header-->
<div class="container-md mb-3">
<!--  <nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" href="#">Home</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Submission</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <div class="nav-link">-->
<!--              <span>Username </span>-->
<!--              <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
<!--              | <button class="btn-sm btn btn-warning">Logout</button>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <span class="navbar-text">-->
<!--        Navbar text with an inline element-->
<!--      </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Submission</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <span class="navbar-text me-1">Username</span>
        </ul>
        <button class="btn btn-sm btn-warning" type="button">Logout</button>
      </div>
    </div>
  </nav>
</div>
<!--end header-->
