<div class="container-fluid bg-light p-5">
  <div class="card text-center ">
    <div class="card-header">Form Submission</div>
    <div class="card-body p-5">
      <form class="d-flex flex-column">
        <!-- Name input -->
        <div class="form-outline mb-4 " id="input-amount">
          <input type="text" id="form5Example1" class="form-control" placeholder="Ex. 5.000.000 | 10.000.000"/>
          <label class="form-label"  for="form5Example1">Amount</label>
        </div>
        <!-- Input tenor-->
        <div class="btn-group mb-4">
          <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked/>
          <label class="btn btn-secondary" for="option1">3 Month</label>

          <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"/>
          <label class="btn btn-secondary" for="option2">6 Month</label>

          <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off"/>
          <label class="btn btn-secondary" for="option3">12 Month</label>
        </div>
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="form5Example3" checked/>
          <label class="form-check-label" for="form5Example3">
            I have read and agree to the terms
          </label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
      </form>
    </div>
  </div>
</div>
