<div class="container-fluid bg-light p-5">
  <div class="card text-center ">
    <div class="card-header">Form Submission</div>
    <div class="card-body p-5">
      <form class="d-flex flex-column" action="post" [formGroup]="form" (ngSubmit)="savaSubmission()">
        <!-- Name input -->
        <div class="form-outline mb-4 " id="input-amount">
          <input type="text" id="loanAmount" class="form-control" placeholder="Ex. 5.000.000 | 10.000.000" formControlName="loanAmount"/>
          <label class="form-label"  for="loanAmount">Amount</label>
        </div>
        <!-- Input tenor-->
        <div class="btn-group mb-4">
          <input type="radio" class="btn-check" name="tenor" id="option1" autocomplete="off" value="3" formControlName="tenor" checked/>
          <label class="btn btn-secondary" for="option1">3 Month</label>

          <input type="radio" class="btn-check" name="tenor" id="option2" autocomplete="off" value="6" formControlName="tenor"/>
          <label class="btn btn-secondary" for="option2">6 Month</label>

          <input type="radio" class="btn-check" name="tenor" id="option3" autocomplete="off" value="12" formControlName="tenor"/>
          <label class="btn btn-secondary" for="option3">12 Month</label>
        </div>
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="agreeToTerms" checked formControlName="agreeToTerms"/>
          <label class="form-check-label" for="agreeToTerms">
            I have read and agree to the terms
          </label>
          <div *ngIf="form.get('agreeToTerms')?.hasError('requiredTrue')" class="text-danger">
            You must agree to the terms.
          </div>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="form.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
