<div class="card shadow bg-body-tertiary mb-5">
  <div class="card-header">
    UMKM Detail
  </div>
  <div class="card-body">
    <div class="d-flex flex-column align-items-start justify-content-start">
      <form [formGroup]="documentForm" (ngSubmit)="uploadDocument()">
        <div>
          <label for="document">Upload Document</label>
        </div>
        <input type="file" id="document" (change)="getDocument($event)" formenctype="multipart/form-data" formControlName="document">
        <button type="submit" class="btn btn-primary btn-sm d-block mt-2" [disabled]="documentForm.invalid" >Upload</button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save(form.value)" method="post">
      <input type="hidden" class="form-control" formControlName="debtorId">
      <input type="hidden" class="form-control" formControlName="umkmId">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="umkmName" class="form-label">* Name</label>
            <input type="text" class="form-control" id="umkmName" formControlName="umkmName">
          </div>
          <div class="mb-3">
            <label for="capital" class="form-label">* Capital</label>
            <input type="text" class="form-control" id="capital" formControlName="capital">
          </div>
          <div class="mb-3">
            <label for="umkmType" class="form-label">* Type</label>
            <select class="form-select" id="umkmType" formControlName="umkmType">
              <option value="mikro">Mikro</option>
              <option value="kecil">Kecil</option>
              <option value="menengah">Menengah</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="noSiup" class="form-label">* No SIUP</label>
            <input type="text" class="form-control" id="noSiup" formControlName="noSiup">
          </div>
          <div class="mb-3">
            <label for="bankAccount" class="form-label">* Bank Account</label>
            <input type="text" class="form-control" id="bankAccount" formControlName="bankAccount">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">* Address</label>
            <textarea class="form-control" id="address" formControlName="address" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
