<div class="card-img-overlay bgColor">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <div class="card shadow-lg">
        <div class="card-body m-3">
          <h3 class="text-center">Registration</h3>
          <form action="post" [formGroup]="form" (ngSubmit)="saveRegis(form.value)">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="*******">
            </div>
            <div class="mb-3">
              <label for="repeatPassword" class="form-label">Repeat Password</label>
              <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword" placeholder="*******">
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary btn-md mt-2" [disabled]="form.invalid">Register</button>
            </div>
            <p class="text-center">
              Already have an account? <a class="text-decoration-none" routerLink="/login">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

