<app-navbar-landing></app-navbar-landing>
<div class="container-lg">
  <h3>Maksimalkan Potensi Usaha Mikro, Kecil, dan Menengah Anda dengan Pinjaman Kami!</h3>
  <p>Apakah Anda seorang calon pengusaha atau pemilik bisnis kecil? Saatnya untuk mengembangkan bisnis Anda dengan pinjaman khusus yang dirancang secara eksklusif untuk Usaha Mikro, Kecil, dan Menengah (UMKM). Kami memahami tantangan unik yang Anda hadapi dan siap memberikan dukungan finansial yang Anda butuhkan untuk mendorong pertumbuhan bisnis Anda.</p>
  <h4>🚀 Mengapa Memilih Pinjaman UMKM Kami?</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Jumlah Pinjaman yang Fleksibel: Apakah Anda memerlukan dana sedikit atau modal yang lebih besar, kami memiliki opsi pinjaman yang sesuai dengan kebutuhan Anda.</li>
    <li class="list-group-item">Tingkat Bunga Kompetitif: Tingkatkan bisnis Anda tanpa menguras kantong dengan tingkat bunga yang menarik.</li>
    <li class="list-group-item">Proses Aplikasi Cepat dan Mudah: Tinggalkan proses yang rumit. Aplikasi kami yang efisien memastikan Anda mendapatkan dana yang Anda butuhkan, saat Anda membutuhkannya.</li>
    <li class="list-group-item">Dukungan untuk Setiap Tahap: Dari tahap awal hingga ekspansi, pinjaman kami mengakomodasi berbagai tahap bisnis, memberikan solusi yang berkembang seiring dengan Anda.</li>
    <li class="list-group-item">Panduan dari Pakar: Tim ahli keuangan kami siap membantu Anda membuat keputusan finansial terbaik untuk bisnis Anda.</li>
  </ul>
  <p>Jangan biarkan keterbatasan keuangan menghambat Anda. Wujudkan impian Anda dan dorong bisnis Anda maju dengan pinjaman UMKM kami. Manfaatkan peluang ini untuk tumbuh, berinovasi, dan meraih kesuksesan!</p>
  <p>Daftar sekarang untuk informasi lebih lanjut dan mulailah perjalanan Anda menuju keunggulan bisnis.</p>
</div>
