<div class="container-md">
  <div class="card shadow p-3 mb-5 bg-body-tertiary">
    <div class="card-header">
      Debtor Detail
    </div>
    <div class="card-body">
      <table class="table" width="100%">
        <tbody>
        <tr>
          <th scope="row" width="30%">NIK</th>
          <td>{{newDebtorResponse.nik}}</td>
        </tr>
        <tr>
          <th scope="row">NPWP</th>
          <td>{{newDebtorResponse.npwp}}</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>{{newDebtorResponse.name}}</td>
        </tr>
        <tr>
          <th scope="row">Birth Date</th>
          <td>{{newDebtorResponse.birthDate}}</td>
        </tr>
        <tr>
          <th scope="row">Birth Place</th>
          <td>{{newDebtorResponse.birthPlace}}</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>{{newDebtorResponse.gender}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{newDebtorResponse.email}}</td>
        </tr>
        <tr>
          <th scope="row">Number Phone</th>
          <td>{{newDebtorResponse.handphone}}</td>
        </tr>
        <tr>
          <th scope="row">Job</th>
          <td>{{newDebtorResponse.job}}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{newDebtorResponse.status}}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td>{{newDebtorResponse.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-view-umkm-detail></app-view-umkm-detail>
</div>
