<div class="px-5 mt-4">
  <button class="btn btn-primary" routerLink="/debtor/submission-form">Add Submission</button>
</div>
<div class="p-5">
  <div class="card text-center">
    <div class="card-header">Submission</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Date: 2023-08-28</p>
      <p class="card-text">Tenor: 12 months</p>
      <p class="card-text">Loan Amount: Rp. 5000.000</p>
      <a href="#" class="btn btn-danger disabled" >Rejected</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>

  <div class="card text-center mt-4">
    <div class="card-header">Submission</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Date: 2023-08-28</p>
      <p class="card-text">Tenor: 12 months</p>
      <p class="card-text">Loan Amount: Rp. 5000.000</p>
      <a href="#" class="btn btn-primary disabled" >Pendingg . . </a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</div>

