<div class="px-5 mt-4 d-flex align-items-center justify-content-center ">
  <button class="btn btn-primary w-50 " routerLink="/debtor/submission-form">Add Submission</button>
</div>
<div class="p-5">
  <div class="card text-center mb-3" *ngFor="let submission of submissionList; let i = index">
    <div class="card-header">Submission</div>
    <div class="card-body">
      <h5 class="card-title">Umkm Name :  {{submission.umkmName}}</h5>
      <p class="card-text">Loan Amount :  {{submission.loanAmount | rupiah}}</p>
      <p class="card-text">Tenor : {{submission.tenor}} month</p>
      <p class="card-text">Total Debt : {{submission.debt}}</p>
      <p class="card-text">Monthly Debt :  {{submission.monthlyDebt | rupiah}}</p>
      <a href="#"
         [ngClass]="{
               'btn disabled': true,
                    'btn-warning': submission.isApprove === null,
                    'btn-danger': submission.isApprove === false,
                    'btn-info': submission.isApprove === true
             }">
        <span *ngIf="submission.isApprove === null">Pending</span>
        <span *ngIf="submission.isApprove === true">Accepted</span>
        <span *ngIf="submission.isApprove === false">Rejected</span>
      </a>

    </div>
    <div class="card-footer text-muted ">{{submission.date}} </div>
  </div>
</div>

