<app-navbar-landing></app-navbar-landing>
<div class="container-lg mt-5">
  <h3 class="text-center mb-5">Developer</h3>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card mb-3 shadow p-3 mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/share/undraw_programming.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Alfath</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card mb-3 shadow p-3 mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/share/undraw_programming.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jafar</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card mb-3 shadow p-3 mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/share/undraw_programming.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Azhar</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card mb-3 shadow p-3 mb-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/share/undraw_programming.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Heru</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
