<div class="container-md">
  <div class="card">
    <div class="card-body">
      <h4>Submission page</h4>
      <mat-form-field appearance="fill">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
      <div class="container-md py-5">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef><strong>No</strong></th>
              <td mat-cell *matCellDef="let row; let i=index" class="text-center"> {{i + number + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="umkmName">
              <th mat-header-cell *matHeaderCellDef><strong>UMKM Name</strong></th>
              <td mat-cell *matCellDef="let row"><a class="link-offset-2 link-underline link-underline-opacity-25" routerLink="/admin/view-debtor/{{row.debtorId}}">{{row.umkmName}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef><strong>Date</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center"> {{row.date}} </td>
            </ng-container>

            <ng-container matColumnDef="loanAmount">
              <th mat-header-cell *matHeaderCellDef><strong>Loan Amount</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center"> {{row.loanAmount | rupiah}} </td>
            </ng-container>

            <ng-container matColumnDef="tenor">
              <th mat-header-cell *matHeaderCellDef><strong>Tenor</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center"> {{row.tenor}} </td>
            </ng-container>

            <ng-container matColumnDef="debt">
              <th mat-header-cell *matHeaderCellDef><strong>Debt</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center"> {{row.debt | rupiah}} </td>
            </ng-container>

            <ng-container matColumnDef="monthlyDebt">
              <th mat-header-cell *matHeaderCellDef><strong>Monthly Debt</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center"> {{row.monthlyDebt | rupiah}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
              <td mat-cell *matCellDef="let row" class="text-center">
                <ng-container *ngIf="row.isApprove === true || row.isApprove === false; else buttonGroup">
                  {{ row.isApprove ? 'Accepted' : 'Rejected' }}
                </ng-container>
                <ng-template #buttonGroup>
                  <button class="btn btn-sm btn-warning me-2"
                          *ngIf="row.status !== 'Accepted' && row.status !== 'Rejected'"
                          (click)="acceptButtonClicked(row)">
                    {{ row.status === 'Accepted' ? 'Accepted' : 'Accept' }}
                  </button>
                  <button class="btn btn-sm btn-danger"
                          *ngIf="row.status !== 'Accepted' && row.status !== 'Rejected'"
                          (click)="rejectButtonClicked(row)">
                    {{ row.status === 'Rejected' ? 'Rejected' : 'Reject' }}
                  </button>
                  <span *ngIf="row.status === 'Accepted' || row.status === 'Rejected'">
                    {{ row.status }}
                  </span>
                </ng-template>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator (page)="handlePageEvent($event)"
                         [length]="length"
                         [disabled]="disabled"
                         [showFirstLastButtons]="showFirstLastButtons"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                         [hidePageSize]="hidePageSize"
                         aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
