<!--start content-->
<div class="container-md">
  <div class="card">
    <div class="card-body">
      <h4>Submission page</h4>
      <div class="container-md py-5">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef><strong>No</strong></th>
            <td mat-cell *matCellDef="let row; let i=index"> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="umkmName">
            <th mat-header-cell *matHeaderCellDef><strong>UMKM Name</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.umkmName}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef><strong>Date</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>

          <ng-container matColumnDef="loanAmount">
            <th mat-header-cell *matHeaderCellDef><strong>Loan Amount</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.loanAmount | rupiah}} </td>
          </ng-container>

          <ng-container matColumnDef="tenor">
            <th mat-header-cell *matHeaderCellDef><strong>Tenor</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.tenor}} </td>
          </ng-container>

          <ng-container matColumnDef="debt">
            <th mat-header-cell *matHeaderCellDef><strong>Debt</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.debt | rupiah}} </td>
          </ng-container>

          <ng-container matColumnDef="monthlyDebt">
            <th mat-header-cell *matHeaderCellDef><strong>Monthly Debt</strong></th>
            <td mat-cell *matCellDef="let row"> {{row.monthlyDebt}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-sm btn-warning me-2">Accept</button>
              <button class="btn btn-sm btn-danger">Reject</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!--end content-->
