<div class="py-4 px-5">
  <div class="card w-100 mt-2-2">
    <div class="card-body">
      <h3 class="card-title">Total Tagihan : Rp. 5000.000</h3>
      <hr>
      <h5>Jafar Abdul Ghofar</h5>
      <h6>Sisa tagihan 6 Bulan</h6>
    </div>
  </div>
  <br>
  <hr>
  <div class="d-flex mt-5 gap-5 align-items-center justify-content-center">
    <div class="card button-card" style="width: 16rem; background: #2778c4; color: white" routerLink="/debtor/submission-form">
      <div class="card-body text-center py-3">
        <h5 class="card-title">Apply Submission</h5>
        <i class="bi bi-coin d-block" style="font-size: 5rem;"></i>
      </div>
    </div>
    <div class="card button-card" style="width: 16rem; background: #38344c; color: white" routerLink="/debtor/bill">
      <div class="card-body text-center py-3">
        <h5 class="card-title">View Bill</h5>
        <i class="bi bi-layout-text-sidebar" style="font-size: 5rem;"></i>
      </div>
    </div>
  </div>
  <div class="d-flex mt-4 gap-5 align-items-center justify-content-center">
    <div class="card button-card" style="width: 16rem; background: #777777; color: white" routerLink="/debtor/submission">
      <div class="card-body text-center py-3">
        <h5 class="card-title">Pay Bill</h5>
        <i class="bi-cash-stack" style="font-size: 5rem;"></i>
      </div>
    </div>
    <div class="card button-card" style="width: 16rem; background: #2b1874; color: white" routerLink="/debtor/submission">
      <div class="card-body text-center py-3">
        <h5 class="card-title">View Submission</h5>
        <i class="bi bi-credit-card-2-front-fill" style="font-size: 5rem;"></i>
      </div>
    </div>
  </div>
</div>
